.Auth
{
    background-color: #f0f8f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0;
    width: 100%;
}
.Auth .Auth_cont
{
    width: 35%;
    background: white;
    border-radius: 15px;
    padding: 50px 10px;
}
.Auth .logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.Auth .logo_img 
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.Auth .details
{
    color: #8c8e91
}
.form_input
{
    width: 80% !important;
    margin: 30px 10% 0 ;
    
   
}
.form_input input
{
    background-color: #f9fafb;
    color: black !important;

}
.form-control:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.Auth form button
{
    background-color: #009966 !important;
    width: 80%;
    margin: auto 10%;
    outline: none !important;
    border: none !important;
    margin-top: 30px;
}
.Auth form button:hover
{
    background-color: #208b68 !important;
}
.Auth .input-icon
{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #b3b8b7 ;
    background-color: #f9fafb;
    color: black ;
    padding: 5px;
    border-radius: 10px;
}
.Auth .input-icon input
{
    border: none !important;
    outline: none !important;
    width: 90%;
}

.Auth .input-icon:has(input:focus)
{
    border: 3px solid #009966 !important;
}
.Auth .link_parent
{
    color: #4a5565;
    font-size: 18px;
}
.Auth form label
{
    text-align: start;
    width: 100%;
    text-transform: capitalize;
    color: #4a5565;
    font-size: 18px;
}
.Auth .Auth_link
{
    color: #33ad84;
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
}
.Auth .Auth_link:hover{
    text-decoration: underline;
}
.Auth .profil_avatar
{
    margin-bottom: 20px;

}
.profil_avatar p 
{
  font-size: 16px;
  text-align: start;
 
  color: #8c8e91
}
.profil_avatar p:nth-child(1)
{
     width: 80%;
  margin: 30px auto 20px;
  color: black;
   font-size: 20px;
  
}
.profil_avatar .profil_avatar_cont
{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 80%;
    margin: 10px auto;

}
.profil_avatar img
{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
}
.Auth .profil_avatar label
{
    width: 60%;
    background-color: #f9fafb !important;
    color:#3e485a !important ;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: start;
    margin-bottom: 10px;
    
}
.Auth .profil_avatar label:hover
{
        background-color: #e5e7eb !important;

}
.Auth .profil_avatar .text_avatar
{
    text-align: start;
    margin-left: 10px;
    width: 100%;
}
.Auth .profil_avatar input[type="file"]
{
    display: none;
}