.Auth
{
    background-color: #f0f8f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0;
}
.Auth .Auth_cont
{
    width: 35%;
    background: white;
    border-radius: 15px;
    padding: 50px 10px;
}
.Auth .logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.Auth .logo_img 
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.Auth .details
{
    color: #8c8e91
}
.form_input
{
    width: 80% !important;
    margin: 30px 10% 0 ;
    
   
}
.form_input input
{
    background-color: #f9fafb;
    color: black !important;

}
.form-control:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.Auth form button
{
    background-color: #009966 !important;
    width: 80%;
    margin: auto 10%;
    outline: none !important;
    border: none !important;
    margin-top: 30px;
}
.Auth .input-icon
{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #b3b8b7 ;
    background-color: #f9fafb;
    color: black ;
    padding: 5px;
    border-radius: 10px;
}
.Auth .input-icon input
{
    border: none !important;
    outline: none !important;
    width: 90%;
}

.Auth .input-icon:has(input:focus)
{
    border: 3px solid #009966 !important;
}